body{
    text-align: center;
}

aside, main{
    display: inline-block;
}
aside{
    float: left;
}

.nonMJ{
    pointer-events: none;
}

#debuter{
    margin-top: 50%;
}
/* Ici on s'occupe de l'arène du premier tour */
#dosPaquet{
    cursor: pointer;
}

.tourEnCours{
    background-color: lightblue;
}

#tableauPhaseFinale{
    margin: auto;
}

.carteFinale{
    font-size: 100px;
    cursor: pointer;
}

.images{
    display:flex;
    flex-direction: column;
}