@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
  text-align: center;
}

aside, main {
  display: inline-block;
}

#joueursEtCartesCommunes {
  display: flex;
}

aside {
  float: left;
  margin: 1%;
}

table {
  margin: 1% auto;
}


.nonMJ {
  pointer-events: none;
}

.nonMJ > button {
  visibility: hidden;
}

.nonDonneur {
  pointer-events: none;
}

.nonDonneur * > button {
  visibility: hidden;
}

.cible {
  margin: 1%;
}

#debuter {
  margin-top: 50%;
}

/* Ici on s'occupe de l'arène du premier tour */
#dosPaquet, #dosPaquetFinal{
    cursor: pointer;
}

.tourEnCours{
    background-color: lightblue;
}

#tableauPhaseFinale{
    margin: auto;
}

.carteFinale{
    font-size: 100px;
    cursor: pointer;
}

.fullscreen{
    position: fixed;
    right: 5%;
  bottom: 5%;
}

#gorgees {
  width: 3em;
}

#headDon {
  display: inline-flex;
}

#don {
  color: red;
}