@import '../node_modules/bootstrap/scss/bootstrap.scss';

body{
    text-align: center;
}
aside, main{
    display: inline-block;
}
aside{
    float: left;
}

.nonMJ{
    pointer-events: none !important;
}
.nonDonneur{
    pointer-events: none !important;
}

.cible{
    margin:1%;
}

#debuter{
    margin-top: 50%;
}
/* Ici on s'occupe de l'arène du premier tour */
#dosPaquet, #dosPaquetFinal{
    cursor: pointer;
}

.tourEnCours{
    background-color: lightblue;
}

#tableauPhaseFinale{
    margin: auto;
}

.carteFinale{
    font-size: 100px;
    cursor: pointer;
}

.images{
    display:flex;
    flex-direction: column;
}

.fullscreen{
    position: fixed;
    right: 5%;
    bottom: 5%;
}

#gorgees {
    width: 3em;
}

#headDon{
    display: inline-flex;
}